.app {

    text-align: center;
    height: max-content;
    margin-top: 150px;
    margin-bottom: auto;
}

p {
    font-size: 56px;
    font-weight: 100;
}

button {
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 24px;
    cursor: pointer;
}